fastapi==0.115.14
uvicorn==0.35.0
pydantic==2.11.7
python-dotenv==1.1.1
openai==1.75.0
requests==2.32.4
nltk==3.9.1
spacy==3.8.7
scikit-learn==1.7.0
yake==0.6.0
PyPDF2==3.0.1

ipykernel==6.29.5
docling==2.51.0
lancedb==0.25.0
streamlit==1.49.1
tiktoken==0.11.0
python-multipart==0.0.20
qdrant_client==1.15.1
